/* 
  -------------------------------------------------------------------------------------------------------------------------------
  Basic formatting - removing initial paddings/margines and setting fonts we want to use
  --------------------------------------------------------------------------------------------------------------------------------
*/

html {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
}

h1,
.caffee-header p {
  font-family: "Seymour One", sans-serif;
}

p {
  margin: 0;
  line-height: 1.8;
}

body {
  margin: 0;
}

/* 
  -------------------------------------------------------------------------------------------------------------------------------
  Page lever formatting - position of header, main and footer placed in web page
  --------------------------------------------------------------------------------------------------------------------------------
*/

.body-container {
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "head"
    "main"
    "foot";

  grid-template-rows: auto 1fr auto;
}

header {
  grid-area: head;
  display: flex;
  justify-content: space-between;
  align-items: end;

  border-bottom: 2px solid gray;
}

main {
  grid-area: main;
}

footer {
  grid-area: foot;
  background-color: navy;
  color: white;
  margin-top: 2rem;
}

.shade {
  background-color: rgba(94, 80, 80, 0.438);
}

/* 
  -------------------------------------------------------------------------------------------------------------------------------
  Header formatting - styling elements in header part of the page
  --------------------------------------------------------------------------------------------------------------------------------
*/

.header_logo {
  display: flex;
  margin-left: 1rem;
  align-items: center;
}

.header_logo img {
  display: inline;
  object-fit: cover;
  height: 2rem;
}

.header_logo p {
  display: inline;
  font-size: 2rem;
  font-weight: 700;
  margin-left: 0.5rem;
}

header ul {
  list-style-type: none;
  overflow: hidden;
  margin: 0;

  margin-right: 1rem;
}

header ul li {
  display: inline-block;
}

header ul > li + li {
  border-left: 2px solid gray;
}

header a {
  margin: 0 1rem;
  font-size: 1.3rem;
  font-weight: 600;
  text-decoration: none;
  color: navy;
}

header a:hover {
  color: blue;
}

.current {
  color: navy;
  font-weight: 700;
  text-decoration: underline;
}

.current:hover {
  color: navy;
}

/* 
  -------------------------------------------------------------------------------------------------------------------------------
  Formatting of main header and text that is on all pages (class -> intro)
  --------------------------------------------------------------------------------------------------------------------------------
*/

.intro,
h1 {
  margin: 2rem auto;
  text-align: center;
}

.intro {
  font-size: 1.2rem;
}

/* 
  -------------------------------------------------------------------------------------------------------------------------------
  Footer formatting - styling elements in footer part of the page
  --------------------------------------------------------------------------------------------------------------------------------
*/

footer {
  padding: 0.5rem 0;
}

footer p {
  margin-left: 1rem;
}

/* 
  -------------------------------------------------------------------------------------------------------------------------------
  index.html formatting
  --------------------------------------------------------------------------------------------------------------------------------
*/

main {
  overflow: auto;
}

.carousel {
  width: 1000px;
  margin: 2rem auto;
  border-radius: 2rem;
  overflow: hidden;
}

/* 
  -------------------------------------------------------------------------------------------------------------------------------
  about.html formatting
  --------------------------------------------------------------------------------------------------------------------------------
*/

h2 {
  font-weight: 700;
  margin-top: 2rem;
}

.events ul {
  list-style: none;
  margin-top: 0.5rem;
}

.about-content {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.about-content img {
  max-width: 15%;
}

.about-content .description {
  max-width: 75%;
}

/* 
  -------------------------------------------------------------------------------------------------------------------------------
  menu.html formatting
  --------------------------------------------------------------------------------------------------------------------------------
*/

.price {
  text-align: right;
}

.tab-pane {
  max-width: 1000px;
  margin: auto;
}

/* 
  -------------------------------------------------------------------------------------------------------------------------------
  contat.html formatting
  --------------------------------------------------------------------------------------------------------------------------------
*/

.contact-container {
  display: flex;
  justify-content: space-between;
}

.contact-container section {
  width: 48%;
  overflow: hidden;
  border: solid 3px navy;
  border-radius: 3rem;
  padding-bottom: 2rem;
}

iframe {
  width: 90%;
  height: 450px;
  margin: auto 5%;
}

.contact-container p,
.contact-container h2 {
  text-align: center;
}

form {
  width: 90%;
  margin: 1rem auto;
  overflow: auto;
}

label {
  font-weight: 700;
  margin-top: 1rem;
  display: inline-block;
}

.get-info label {
  width: 10%;
}
.get-info input {
  width: 85%;
  height: 1.3rem;
  border-radius: 0.5rem;
}

textarea {
  width: 95%;
  height: 300px;
  border-radius: 0.5rem;
  margin: auto;
}

.click-button {
  display: block;
  float: right;
  margin: 1rem;
  padding: 0.5rem;
  width: 20%;
  font-weight: 700;
  font-size: 1.2rem;
  border-radius: 1rem;
  color: white;
  background-color: navy;
}

.click-button:hover {
  color: black;
  background-color: orange;
}

/* 
  -------------------------------------------------------------------------------------------------------------------------------
  products.html formatting
  --------------------------------------------------------------------------------------------------------------------------------
*/
#products-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  width: 30%;
  margin: 1rem 1rem;
  border: solid 2px navy;
  border-radius: 1rem;
}

.card img {
  width: 90%;
  margin: 1rem auto;
  border-radius: 1rem;
}

.card .description-area {
  min-height: 200px;
}

.card h2,
p {
  text-align: left;
  margin-left: 1rem;
}

.card .price {
  margin-right: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
}

.purchase-area {
  margin-bottom: 1rem;
  margin-right: 1rem;
  display: flex;
  justify-content: right;
}

.purchase-area input {
  width: 3rem;
  text-align: right;
}

.add,
.subtract {
  padding: 0 1rem;
  margin-right: 0.5rem;
  font-weight: 900;
  color: white;
  background-color: navy;
  border-radius: 0.5rem;
}

.add:hover,
.subtract:hover {
  color: black;
  background-color: orange;
}

#purchase-button {
  width: 15%;
  float: right;
  margin-right: 1rem;
}

/* 
  -------------------------------------------------------------------------------------------------------------------------------
  formatting of pop up window
  --------------------------------------------------------------------------------------------------------------------------------
*/

#pop-up {
  display: none;
  position: fixed;
  top: 25%;
  left: 30%;
  width: 40%;
  background-color: white;
  border: solid 3px navy;
  border-radius: 2rem;
  z-index: 10;
  opacity: 2;
}

#pop-up h2,
#pop-up p {
  text-align: center;
}
